.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "start-button next-up-title"
    "main-grid next-up-grid";
}

button#start-button {
  grid-area: start-button;
  justify-self: center;
  height: 40px;
  width: 135px;
}

h4#next-up-title {
  grid-area: next-up-title;
}

.grid {
  grid-area: main-grid;
  justify-self: center;
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: ghostwhite;
}

.grid div {
  height: 20px;
  width: 20px;
}

.next-up-grid {
  grid-area: next-up-grid;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: ghostwhite;
}

.next-up-grid div {
  height: 20px;
  width: 20px;
}
